# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Project Files
*.vcxproj

# Executable Files
x64/

# Linker and Debug Files
*.ilk
*.pdb
*.idb
*.log
*.tlog
/x64/Debug
/models/skybox
/SpaceVoyager.vcxproj.filters
/SpaceVoyager.vcxproj.user
